<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LMS | Arun jenson</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <nav>
    <h1><a href="/">LMS - PROJECT</a></h1>
    <ul>
      <% if (user) { %>
        <li>Welcome, <%= user.name %>
        </li>
        <li><a href="/logout" class="btn">Log out</a></li>
        <% } else { %>
          <li><a href="/login">Log in</a></li>
          <li><a href="/signup" class="btn">Sign up</a></li>
          <% } %>
    </ul>
  </nav>
  <script src="//cdn.conveythis.com/javascript/conveythis-initializer.js"></script>
<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", function(e) {
		ConveyThis_Initializer.init({
			api_key: "pub_a542119d675dd0aa14b85cb1778937fc"
		});
	});
</script>
