<%- include('partials/header'); -%>

  <div class="head">
    <span>My dashboard</span>
    <a href="/profile">My Profile</a>
    <a href="/task">Task Manager</a>
  </div>


  <ul class="courses">
    <li class="course">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/rZ41y93P2Qo" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
      <h4>DSA Bootcamp</h4>
      <p>Complete DSA Java Course </p>

      <p class="deadline">Deadline - 23-04-2022</p>
    </li>
    <li class="course">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Q33KBiDriJY" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
      <h4>Web Development</h4>
      <p>Learn Web Development from Scratch | Edureka</p>

      <p class="deadline">Deadline - 23-04-2022</p>
    </li>
    <li class="course">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/C72WkcUZvco" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
      <h4>Web designing</h4>
      <p> Web Design Course | Flux</p>

      <p class="deadline">Deadline - 23-05-2022</p>
    </li>
    <li class="course">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/NWONeJKn6kc?start=1"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
      <h4>Machine Learning</h4>
      <p>Machine Learning Course | freeCodeCamp</p>

      <p class="deadline">Deadline - 23-05-2022</p>
    </li>
    <li class="course">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/QCvL-DWcojc" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
      <h4>Blockchain Technology</h4>
      <p>Blockchain Full Course | Edureka </p>
      <p class="deadline">Deadline - 23-06-2022</p>
    </li>
    <li class="course">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/M576WGiDBdQ" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
      <h4>Solidity | SmartContracts</h4>
      <p>Solidity, Blockchain, and Smart Contract Course | freeCodeCamp</p>

      <p class="deadline">Deadline - 23-06-2022</p>
    </li>
  </ul>


  <%- include('partials/footer'); -%>