<%- include('partials/header'); -%>

  <header>

    <div class="headings">
      <h2>Learning Management System</h2>
      <h3>A learning management system is a software application that provides the framework that handles all aspects of
        the learning process – it’s where you house, deliver, and track your training content.</h3>
      <a href="/login" class="btn homebtn">Start your Learning </a>
    </div>
  </header>


  <%- include('partials/footer'); -%>