@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
body{
  margin: 20px 40px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  background: white;
}
h1, h2, h3, h4, ul, li, a, p, input, label, button, div, footer{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: black;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 120px;
}
nav ul{
  display: flex;
  align-items: center;
}
nav li{
  margin-left: 20px;
}
nav li a{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}
.btn{
  border-radius: 16px;
  transition-duration: 0.4s;
  background: #ffa500;
}


.deadline{
  margin-top: 0.5em;
}
form h2{
  font-size: 2.4em;
  font-weight: 900;
  margin-bottom: 40px;
}
form{
  width: 360px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
  border-radius: 10px;
  background: #d3d3d3;
}
input{
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #241f1c;
  font-size: 1em;
  width: 100%;
}
label{
  display: block;
  margin: 20px 0 10px;
  color: #241f1c;
}
.sub{
  display: flex;
  gap:0.8em;
}
.sub2{
  margin-top: 37px;
  font-size: 0.7em;
}
.homebtn{
  margin: 4em 30em;
}
button{
  margin-top: 30px;
  border-radius: 16px;
  background: #ffa500;
  border:0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}
button:hover{
  background-color:black;
  color: #ffa500;
  transition: 0.7s;
}
.btn:hover{
  background-color:black;
      transition: 0.7s;
      color: #ffa500;
}


.error{
  color: red;
  margin: 10px 2px;
  font-size: 0.8em;
  font-weight: bold;
}
header{
  display: flex;
  align-items: center;
}
header img{
  width: 250px;
  margin-right: 40px;
}
header h2{
  font-size: 3em;
  margin-bottom: 10px;
}
header h3{
  font-size: 1.6em;
  margin-bottom: 10px;
  margin-left: 2px;
  color: black;
}
header .btn{
  margin-top: 20px;
  padding: 12px 18px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  font-size: 0.8em;
}
.head{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  margin: 2em auto;
}
.courses{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 80px;
  margin: 80px auto;
  max-width: 1200px;
}
.course{
  display: inline-block;
  border-radius: 20px;
  background: white;
  position: relative;
  text-align: center;
  padding: 0 20px 30px 20px
}
.profilename{
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
  font-weight: 1000;
}
.profile{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1em;
  }
.item1{
  margin: 1em;
  padding: 0.3em;
  display: flex;
  justify-content: center;
  gap: 2em;
}
.container{
   margin:0 auto;
  height: 55%;
  width:50%;
  border: black 1px solid;
}

footer{
  text-align: center;
  margin-top: 3.8em;
  color: black;
}

/* task Manager */
.taskcontain{
  margin:0 auto;
 height: 55%;
 width:50%;
 /* border: black 1px solid; */
}
.card-title{
  margin: 2em;
}
form{
  width: 360px;
  margin: 27px;
  padding: 48px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
  border-radius: 10px;
  background: #d3d3d3;
}
.card-content{
  margin:2em;

}
.material-icons
{
 margin-right: 0em;

}
.collection-item{
  display: flex;
  gap: 2em;
  margin-right: 2em;
}
.collection{
  margin-bottom: 2em;
}
.signup{
  width: 360px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
  border-radius: 10px;
  background: #d3d3d3;
}